<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>@MACRO.NAME@</display-name>

  <description>
  </description>
  <context-param>
    <param-name>gsac.repository.class</param-name>
    <param-value>@MACRO.PACKAGE@.@MACRO.PREFIX@Repository</param-value>
    <description>
    </description>
  </context-param>

  <servlet>
    <servlet-name>GsacServlet</servlet-name>
    <servlet-class>org.gsac.gsl.GsacServlet</servlet-class>
  </servlet>

   <!-- The mapping for the default servlet -->
   <servlet-mapping>
      <servlet-name>GsacServlet</servlet-name>
<!-- This is the default top-level url path -->
       <url-pattern>/</url-pattern>
<!--                                
      <url-pattern>@MACRO.URLROOT@/*</url-pattern>
-->
   </servlet-mapping>

</web-app>
